version: '2'

services:
  cloud-db:
    image: mariadb
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - /mnt/Volumes/NextcloudDB:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloud_root_db_password }}
      - MYSQL_PASSWORD={{ nextcloud_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  cloud-app:
    image: nextcloud:stable-apache
    restart: unless-stopped
    volumes:
      - /mnt/Volumes/Nextcloud:/var/www/html
      - /mnt/Personal:/mnt/Personal:ro
    ports:
      - 8888:80
    links:
      - "cloud-db:db.docker.local"
    depends_on:
      - cloud-db
    environment:
      - TRUSTED_PROXIES={{ nextcloud_http_domain }}
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST={{ nextcloud_http_domain }}
      - MYSQL_PASSWORD={{ nextcloud_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db.docker.local
